h1{
    text-shadow: 2px 2px 2px #000000;
    letter-spacing: 15px;
    word-spacing: 15px;
}
p{
    text-transform: uppercase;
    text-decoration: underline;
    Text-indent: 30px;
    line-height: 3;
}

a{
    text-decoration: none;
    display: block;
}

div{
    display: inline;
}

.tipoDisplay{
    visibility: hidden;
}